<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocketCOMBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SocketCOMBridge.Properties.Settings>
            <setting name="com_baudrate_index" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="com_stopbits_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="com_databits_index" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="com_parity_index" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="com_name_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfg_log_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="com_recv_type" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="com_recv_timeout" serializeAs="String">
                <value>10</value>
            </setting>
        </SocketCOMBridge.Properties.Settings>
    </userSettings>
</configuration>